.header{
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: rgb(150, 147, 1);
    color: lightgoldenrodyellow;
}
.head{
    border: 1px solid lightblue;
    border-radius: 10px;
    
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
}
.object{
    text-shadow: 2px 2px 4px lightblue;
}